.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #EA0043;
    text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
    color: white;
    text-shadow: none;
    text-align: center;
}

@media (max-width: 670px) {
    .main-title {
        font-size: 30px;
    }
}

@media (max-width: 490px) {
    .main-title {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .main-title {
        font-size: 15px;
    }
}