.main-section {
    background-color: #EA0043;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #2790B0;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #EA0043;
}

.main-section.-bgSecond {
    background-color: #2790B0;
}

.main-section.-bdBlack {
    border-color: #000;
}