.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 85px;
}

.main-carousel::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 50px;
    display: block;
    width: calc(100% - 100px);
    height: 6px;
    background-color: black;
}

.main-carousel::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 33px;
    left: 0;
    display: block;
    width: 100%;
    border: 3px dashed black;
}

.main-carousel .button-arrow {
        position: absolute;
        bottom: 70px;
        transform: translateY( 50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    transition: .1s ease-in-out;
}