.section {
    background-color: #EA0043;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #2790B0;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-bgBlack {
    background-color: #000;
}

.section.-bdFirst {
    border-bottom: 10px solid #EA0043;
}