.wrapper-skill {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: auto;
    column-gap: 100px;
    padding: 20px;
}

.wrapper-skill .skill-tec {
    width: 100%;
    max-width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill .progress-bar {
    width: 100%;
    max-width: 320px;
}